<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 화면</title>
</head>
<body>
    <div class="contents">
    {% for question in questions %}
    <!-- 문제번호     -->
        <h1>{{question.id}}</h1>
    <!-- or <h3>{{question.page}}</h3> -->
    <!-- 문제 -->
        <p>{{question.que}}</p>
    <!-- 답변 -->
        {% if questions.has_next %}
            <form action="/choices/{{user_id}}/?page={{questions.next_page_number}}" method="POST">
                {% csrf_token %}
                <button name="test2" value="1">{{question.answer1}}</button>
                <button name="test2" value="2">{{question.answer2}}</button>
            </form>
        {% else %}
        <!-- 맨마지막 문항 -->
            <form action="/choices/{{user_id}}/?page={{questions.number}}" method="POST">
                {% csrf_token %}
                <button name="test2" value="1">{{question.answer1}}</button>
                <button name="test2" value="2">{{question.answer2}}</button>
            </form>
        <!-- 결과 보러가기 -->
            <a hfref = "home.html">결과보러가기</a>
        {% endif %}
    {% endfor %}
        <p>{{questions.number}}/{{questions.paginator.num_pages}}</p>
        </div>
    </body>
    </html>