{% extends 'base.html' %}
{% load static %}
{% block javascript %}
<script language="javascript">
    function Popup() { window.open("popup.html",  "a", "width=80, height=50, left=0, top=190, location=no,history=no,resizable=no,status=no,scrollbars=no,menubar=no,toolbar=no"); }
</script>
{% endblock javascript %}
{% block css %}{% static 'css/home.css' %}{% endblock css%}
{% block title %}Home{% endblock title %}
{% block popup %}onload="javascript:Popup()"{% endblock popup %}
{% block content %}
<div class="main">
    <img class="content" src="{% static 'image/main.png' %}">
    <div class="go_button">
        <form action="/choices/{{user_id}}/?page=1" method="POST">
            {% csrf_token%}
            <button name="test2" value="1" class="go btn22">추천 받으러 가기</button>
        </form>
    </div>
</div>
{% endblock content %}
