{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script language="javascript">
        function Popup() { window.open("{% url 'popup' %}",  "a", "width=80, height=50, left=0, top=190, location=no,history=no,resizable=no,status=no,scrollbars=no,menubar=no,toolbar=no"); }
    </script>
    <link rel="stylesheet" href="{% block css %}{%static 'css/home.css'%}{% endblock css %}">
    <title>Home</title>
</head>
<body onload="javascript:Popup()">
    <div class="container">
        <div class="header">
            <a href="{%url 'home'%}"><img id="logo" src="{% static 'image/logo.png' %}" height="115px" width="110px"></a>
            <div class="viva"><a href="{%url 'home'%}"><img src="{% static 'image/viva.png' %}" width="340px" height="70px"></a></div>
            <a href="{%url 'sok'%}"><img id="present" src="{% static 'image/present.png' %}"></a>
        </div>

        <div class="main">
            <img class="content" src="{% static 'image/main.png' %}">
            <div class="go_button">
                <form action="/choices/{{user_id}}/?page=1" method="POST">
                    {% csrf_token%}
                    <button name="test2" value="1" class="go btn22">추천 받으러 가기</button>
                </form>
            </div>
        </div>
        
        <div class="footer">
            <div class="footer_box">
                <a href="{%url 'home'%}"><img src="{% static 'image/viva.png' %}" width="200px"></a>
                <h3>Developers : </h3>
                <p>Front-End :: [윤현지 - github.com/Younhyeonji]  [이민수 - github.com/mslee5240]</p>
                <p>Back-End :: [정은서 - github.com/eunseoJeong]  [배연주 - github.com/kiteB]</p>
            </div>
        </div>
    </div>
</body>
</html>