{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% block css %}{%static 'css/result.css'%}{% endblock css %}">

    <title>ISTJ</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="{%url 'home'%}"><img id="logo" src="{% static 'image/logo.png' %}" height="115px" width="110px"></a>
            <div class="viva"><a href="{%url 'home'%}"><img src="{% static 'image/viva.png' %}" width="340px" height="70px"></a></div>
            <a href="{%url 'home'%}"><img id="present" src="{% static 'image/present.png' %}"></a>
        </div>
        <div class="content">
            <div class="title">
                <img src="{% static 'image/useless.png' %}" id="top-img" width="960px">
            </div>
            <div class="product">
                <div class="image_box">
                    <img src="{% static 'image/product(2).png' %}" width="800px">
                </div>
            </div>
            <div class="detail">
                <div class="detail_box">
                    <h1>청렴결백한 논리주의자 스타일인 당신!</h1><br><br>
                    <h2>당신은 현실적이고 보수적인 스타일이군요. 너무 보수적이라 사람들이 조금 싫어했던 경험은 없나요? 이러한 성격을 바꾸기 위해 코코넛 브라를 추천해 드립니다! 이 브라만 있다면 당신은 누구보다 개.방.적! 자, 그럼 선비에서 핫 펄슨으로 탈바꿈하러 GO! GO! GO!</h2><br>
                </div>
            </div>
            <div class="restart">
                <div><a href="{%url 'home'%}" id="restart_img"><img src="{% static 'image/restart.png' %}"></a></div><br>
                <div><a href="{%url 'han'%}" id="share_img"><img src="{% static 'image/share.png' %}"></a></div><br>
                <div><a href="{%url 'gomin'%}" id="buy_for_me_img"><img src="{% static 'image/buy_for_me.png' %}"></a></div><br>
                <div><a href="{%url 'sok'%}" id="buy_for_dev_img"><img src="{% static 'image/buy_for_dev.png' %}"></a></div><br>
            </div>
            <div class="footer">
                <div class="footer_box">
                    <a href="{%url 'home'%}"><img src="{% static 'image/viva.png' %}" width="200px"></a>
                    <h3>Developers : </h3>
                    <p>Front-End :: [윤현지 - github.com/Younhyeonji]  [이민수 - github.com/mslee5240]</p>
                    <p>Back-End :: [정은서 - github.com/eunseoJeong]  [배연주 - github.com/kiteB]</p>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>