{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% block css %}{%static 'css/result.css'%}{% endblock css %}">

    <title>INFP</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="{%url 'home'%}"><img id="logo" src="{% static 'image/logo.png' %}" height="115px" width="110px"></a>
            <div class="viva"><a href="{%url 'home'%}"><img src="{% static 'image/viva.png' %}" width="340px" height="70px"></a></div>
            <a href="{%url 'sok'%}"><img id="present" src="{% static 'image/present.png' %}"></a>
        </div>
        <div class="content">
            <div class="title">
                <img src="{% static 'image/useless.png' %}" id="top-img" width="960px">
            </div>
            <div class="product">
                <div class="image_box">
                    <img src="{% static 'image/product(15).png' %}" width="800px">
                </div>
            </div>
            <div class="detail">
                <div class="detail_box">
                    <h1>열정적인 중재자인 당신!</h1><br><br>
                    <h2>자신이 지향하는 이상에 대해 정열적인 신념을 가진 당신에게 열띤 토론을 할 수 있도록 네이버 자유이용권을 추천해 드립니다! 네이버에서 많은 사람들과 열띤 토론을 하며 헛소리, 멋진 소리 모두를 경험하길 바라요! 자, 그럼 이제 많은 소리를 만나러 GO! GO! GO!
                    </h2><br>
                </div>
            </div>
            <div class="restart">
                <div><a href="{%url 'home'%}" id="restart_img"><img src="{% static 'image/restart.png' %}"></a></div><br>
                <div><a href="{%url 'han'%}" id="share_img"><img src="{% static 'image/share.png' %}"></a></div><br>
                <div><a href="{%url 'gomin'%}" id="buy_for_me_img"><img src="{% static 'image/buy_for_me.png' %}"></a></div><br>
                <div><a href="{%url 'sok'%}" id="buy_for_dev_img"><img src="{% static 'image/buy_for_dev.png' %}"></a></div><br>
            </div>
            <div class="footer">
                <div class="footer_box">
                    <a href="{%url 'home'%}"><img src="{% static 'image/viva.png' %}" width="200px"></a>
                    <h3>Developers : </h3>
                    <p>Front-End :: [윤현지 - github.com/Younhyeonji]  [이민수 - github.com/mslee5240]</p>
                    <p>Back-End :: [정은서 - github.com/eunseoJeong]  [배연주 - github.com/kiteB]</p>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>