{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% block css %}{%static 'css/result.css'%}{% endblock css %}">

    <title>ISFJ</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="{%url 'home'%}"><img id="logo" src="{% static 'image/logo.png' %}" height="115px" width="110px"></a>
            <div class="viva"><a href="{%url 'home'%}"><img src="{% static 'image/viva.png' %}" width="340px" height="70px"></a></div>
            <a href="{%url 'sok'%}"><img id="present" src="{% static 'image/present.png' %}"></a>
        </div>
        <div class="content">
            <div class="title">
                <img src="{% static 'image/useless.png' %}" id="top-img" width="960px">
            </div>
            <div class="product">
                <div class="image_box">
                    <img src="{% static 'image/product(3).png' %}" width="800px">
                </div>
            </div>
            <div class="detail">
                <div class="detail_box">
                    <h1>용감한 수호자 스타일인 당신!</h1><br><br>
                    <h2>당신은 헌신적이고 타인의 감정을 중요시하는 스타일이군요. 그러한 당신에게 박진영 포토카드를 추천해 드립니다! 이 포토카드만 있으면 타인의 감정을 좋게 만들어 줄 수 있어요! 슬퍼 보이는 친구에게 이 포토카드만 보여주면 분위기가 샤랄라 해집니다. 자, 그럼 분위기 전환하러 GO! GO! GO!</h2><br>
                </div>
            </div>
            <div class="restart">
                <div><a href="{%url 'home'%}" id="restart_img"><img src="{% static 'image/restart.png' %}"></a></div><br>
                <div><a href="{%url 'han'%}" id="share_img"><img src="{% static 'image/share.png' %}"></a></div><br>
                <div><a href="{%url 'gomin'%}" id="buy_for_me_img"><img src="{% static 'image/buy_for_me.png' %}"></a></div><br>
                <div><a href="{%url 'sok'%}" id="buy_for_dev_img"><img src="{% static 'image/buy_for_dev.png' %}"></a></div><br>
            </div>
            <div class="footer">
                <div class="footer_box">
                    <a href="{%url 'home'%}"><img src="{% static 'image/viva.png' %}" width="200px"></a>
                    <h3>Developers : </h3>
                    <p>Front-End :: [윤현지 - github.com/Younhyeonji]  [이민수 - github.com/mslee5240]</p>
                    <p>Back-End :: [정은서 - github.com/eunseoJeong]  [배연주 - github.com/kiteB]</p>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>