{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% block css %}{%static 'css/result.css'%}{% endblock css %}">

    <title>ENTP</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="{%url 'home'%}"><img id="logo" src="{% static 'image/logo.png' %}" height="115px" width="110px"></a>
            <div class="viva"><a href="{%url 'home'%}"><img src="{% static 'image/viva.png' %}" width="340px" height="70px"></a></div>
            <a href="{%url 'sok'%}"><img id="present" src="{% static 'image/present.png' %}"></a>
        </div>
        <div class="content">
            <div class="title">
                <img src="{% static 'image/useless.png' %}" id="top-img" width="960px">
            </div>
            <div class="product">
                <div class="image_box">
                    <img src="{% static 'image/product(6).png' %}" width="800px">
                </div>
            </div>
            <div class="detail">
                <div class="detail_box">
                    <h1>많은 사람들과 뜨거운 논쟁을 즐기는 변론가 스타일인 당신!</h1><br><br>
                    <h2>당신의 여린 겉모습에 만만하게 보고 다가오는 사람들이 많았죠? 앞으로는 외유내강 스타일에서 외강 내강 스타일로 보일 수 있도록 도와주는 문신 토시를 당신에게 추천합니다! 타인과 논쟁을 하기 전에 문신 토시를 슬쩍 보여주면 반은 당신이 이기는 게임! 자, 이제 토시를 끼고 논쟁하러 GO! GO! GO!</h2><br>
                </div>
            </div>
            <div class="restart">
                <div><a href="{%url 'home'%}" id="restart_img"><img src="{% static 'image/restart.png' %}"></a></div><br>
                <div><a href="{%url 'han'%}" id="share_img"><img src="{% static 'image/share.png' %}"></a></div><br>
                <div><a href="{%url 'gomin'%}" id="buy_for_me_img"><img src="{% static 'image/buy_for_me.png' %}"></a></div><br>
                <div><a href="{%url 'sok'%}" id="buy_for_dev_img"><img src="{% static 'image/buy_for_dev.png' %}"></a></div><br>
            </div>
            <div class="footer">
                <div class="footer_box">
                    <a href="{%url 'home'%}"><img src="{% static 'image/viva.png' %}" width="200px"></a>
                    <h3>Developers : </h3>
                    <p>Front-End :: [윤현지 - github.com/Younhyeonji]  [이민수 - github.com/mslee5240]</p>
                    <p>Back-End :: [정은서 - github.com/eunseoJeong]  [배연주 - github.com/kiteB]</p>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>