{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% block css %}{%static 'css/result.css'%}{% endblock css %}">

    <title>ENFP</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="{%url 'home'%}"><img id="logo" src="{% static 'image/logo.png' %}" height="115px" width="110px"></a>
            <div class="viva"><a href="{%url 'home'%}"><img src="{% static 'image/viva.png' %}" width="340px" height="70px"></a></div>
            <a href="{%url 'home'%}"><img id="present" src="{% static 'image/present.png' %}"></a>
        </div>
        <div class="content">
            <div class="title">
                <img src="{% static 'image/useless.png' %}" id="top-img" width="960px">
            </div>
            <div class="product">
                <div class="image_box">
                    <img src="{% static 'image/product(11).png' %}" width="800px">
                </div>
            </div>
            <div class="detail">
                <div class="detail_box">
                    <h1>재기 발랄한 활동가 스타일인 당신!</h1><br><br>
                    <h2>코로나 시대에 밖에 못 나가서 우울한 일상이 지속되죠? 매일 아침 친구 대신 콩나물을 만나보는 건 어때요? 한국말 외에도 콩나물의 언어를 공부해서 콩나물과 대화를 해본다면, 당신은 어느샌가 2개국 언어를 구사할 줄 아는 능력자로! 콩나물이 다 크면 코로나는 끝나있을 테니 친구들과 술을 먹고 다음 날 해장국 속으로 GO! GO! GO!
                    </h2><br>
                </div>
            </div>
            <div class="restart">
                <div><a href="{%url 'home'%}" id="restart_img"><img src="{% static 'image/restart.png' %}"></a></div><br>
                <div><a href="{%url 'han'%}" id="share_img"><img src="{% static 'image/share.png' %}"></a></div><br>
                <div><a href="{%url 'gomin'%}" id="buy_for_me_img"><img src="{% static 'image/buy_for_me.png' %}"></a></div><br>
                <div><a href="{%url 'sok'%}" id="buy_for_dev_img"><img src="{% static 'image/buy_for_dev.png' %}"></a></div><br>
            </div>
            <div class="footer">
                <div class="footer_box">
                    <a href="{%url 'home'%}"><img src="{% static 'image/viva.png' %}" width="200px"></a>
                    <h3>Developers : </h3>
                    <p>Front-End :: [윤현지 - github.com/Younhyeonji]  [이민수 - github.com/mslee5240]</p>
                    <p>Back-End :: [정은서 - github.com/eunseoJeong]  [배연주 - github.com/kiteB]</p>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>