@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html, body { 
    width:100%; 
    height:100%;
    background-color: #F7F8E8;
}

.container {
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #CBC2B9;
    height: 120px;
}

#logo {
    margin-left: 200px;
}
#present {
    margin-top: 18px;
    margin-right: 120px;
}
.viva {
    margin-top: 28px;
}



.content {
    width: 100%;
    height: 100%;
}


/* 메인 화면 시작 */

.num, .que, .ques{
    display: flex;
    justify-content: center;
}

.number {
    font-family: '국립박물관문화재단클래식B';
    font-size: 40px;
    color: red;
    border: 3px solid orange;
    border-radius: 100px;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 26px;
    padding-right: 26px;
    background-color: white;
    margin-top: 70px;
    margin-bottom: 15px;
}

.question {
    font-family: '국립박물관문화재단클래식B';
    font-size: 43px;
    color: #5e5e5e;
    margin: 20px;
    margin-bottom: 90px;
    text-shadow: 4px 4px #f8cc6c;
    text-align: center;
}

.ddu_text {
    display: flex;
    justify-content: center;
    font-family: '국립박물관문화재단클래식B';
    font-size: 42px;
    color: red;
    border: 3px solid #FF9D00;
    background-color: #fde351;
    padding: 20px 10px;
    padding-left: 45px;
    padding-right: 45px;
    transform: rotate(-55deg);
    width: 400px;
    height: 50px;
    margin-top: 138px;
    margin-right: -120px;
}

.box {
    display: flex;
    justify-content: space-between;
    margin-right: 25%;
    margin-top: 40px;
    border: 3px solid #FF9D00;
    background-color: #f8e65e;
    width: 850px;
    height: 370px;
}
form {
    display: flex;
}
.questions {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.q {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 5px solid #FF9D00;
    border-radius: 40px;
    background-color: #FFFFFF;
    width: 240px;
    height: 240px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top:-20px;
    cursor: pointer;
}

.in {
    display: flex;
    justify-content: center;
    font-family: 'GongGothicLight';
    font-size: 28px;
    text-align: center;
    padding: 14px;
}

.moo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sun {
    width: 40px;
    height: 370px;
    background-color: #F8CA99;
}

/* 아래 문항 수 체크 */

.remainder {
    background-color: #A8B6FF;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    font-family: 'GongGothicLight';
    padding-top: 35px;
    font-size: 38px;
}

.much {
    font-family: 'GongGothicLight';
    font-size: 38px;
}

/* 푸터 */

.footer {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer_box {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    border: white solid 3px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
button {
    border: 0;
    outline: 0;
    background-color: white;
    font-family: 'GongGothicLight';
    font-size: 32px;
}
#result_page {
    display: none;
}
.wrap {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 350px;
}
.result-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #FF9D00;
    background-color: #f8e65e;
    width: 600px;
    height: 370px;
    margin-right: 400px;
}
.ddu {
    display: flex;
    justify-content: center;
    font-family: '국립박물관문화재단클래식B';
    font-size: 42px;
    color: red;
    border: 3px solid #FF9D00;
    background-color: #fde351;
    width: 500px;
    height: 50px;
    margin-bottom: 100px;
    transform: rotate(-55deg);
}
#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #FF9D00;
    border-radius: 40px;
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top:-20px;
    cursor: pointer;
}
#result button {
    background-color: transparent;;
}