@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}   
html, body { 
    width:100%; 
    height:100%;
    background-color: #A8B6FF;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #CBC2B9;
    height: 120px;
}

#logo {
    margin-left: 200px;
}

#present {
    margin-top: 18px;
    margin-right: 120px;
}

.viva {
    margin-top: 28px;

}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    background-color: #F7F8E8;
    height: 180px;
}

#top-img {
    margin: 35px
}

.product {
    display: flex;
    justify-content: center;
}
.image_box {
    
    height: 100%;
    margin-top: 60px;
    text-align: center;
}

.detail {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.detail_box {
    width: 700px;
    height: 100%;
    /* background-color: white;
    border: black solid 5px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: '국립박물관문화재단클래식B';
}
.detail_box > h1 {
    margin: 20px 10px;
    font-size: 50px;
}

.detail_box > h2 {
    margin: 0px 10px;
}

.restart {
    margin-top: 50px;
    text-align: center;
}

#restart_img {
    margin: 30px 0px;
}
.footer {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer_box {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    /* border: white solid 3px; */
    /* margin: 20px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}