@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}   
html, body { 
    width:100%; 
    height:100%;
    background-color: #A8B6FF;
}
.container {
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #CBC2B9;
    height: 120px;
}

#logo {
    margin-left: 200px;
}
.viva {
    margin-top: 28px;

}
.btn {
    margin-top: 18px;
    margin-right: 120px;
    background: url( "present.png" ) no-repeat;
    border: none;
    width: 204px;
    height: 88px;
    cursor: pointer;
}
.content {
    
}

.title {
    text-align: center;
    background-color: #F7F8E8;
    height: 200px;
}
#top-img {
    margin: 35px
}

.sub_title{
    display: flex;
    justify-content: center;
}

#for_you {
    margin-top: 60px;
}

.product {
    display: flex;
    justify-content: center;
}
.image_box {
    width: 1000px;
    height: 100%;
    background-color: #75FBB4;
    border: black solid 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.image_box > h1 {
    font-family: '국립박물관문화재단클래식B';
    margin: 20px;
    
}
.detail {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.detail_box {
    width: 800px;
    height: 100%;
    /* background-color: white;
    border: black solid 5px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: '국립박물관문화재단클래식B';
}
.detail_box > h1 {
    margin: 20px 10px;
    font-size: 50px;
}

.detail_box > h2 {
    margin: 0px 10px;
}
.footer {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer_box {
    width: 95%;
    height: 100%;
    background-color: white;
    border: black solid 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}